
body{
  padding-left: 50px;
  padding-right: 50px;
  overflow:hidden;
   
}
/********TOP LOGO******/
#navVisi{    position: absolute;
}

/********HEADER******/
.headLogo{
  display: flex;
  justify-content: space-between;
}

  header{
  background-color: red;
  height: 500px;
  margin-top: 70px !important;
  
  text-align: center;
}

header >div> h1{
  padding-top: 200px;
  font-size: 50px;
}

header >div> h2{
  font-size: 30px;
}
/********NAV******/

#panel{
  background-color: #fff;
    height: 500px;
    width: 100%;
    text-align: center;
    position: relative;
    bottom: 500px;
    
   opacity: 0;
    transition-duration: 0.5s;
}
#panel > ul {
    padding-top: 200px;
}

/********FOOTER******/
footer{
    background-color: red;
}