a:link{text-decoration:none; color:#6a4e65;}
a:visited{text-decoration:none; color:#6a4e65;}

a:active{text-decoration:none;}
body{
  padding-left: 50px;
  padding-right: 50px;
  overflow:hidden;

}
/********TOP LOGO******/
#navVisi{    position: absolute;
}

/********HEADER******/
.headLogo{
  display: flex;
  justify-content: space-between;
}

header{
color: #ef2424;
  background-image:url(http://www.wallpapersxl.com/wallpapers/1920x1080/triangle/148949/triangle-pyramid-black-pink-hd-148949.jpg);
  height: 500px;
  margin-top: 70px !important;

  text-align: center;
}

header>div>h1{
  padding-top: 150px;
  font-size: 50px;
}

#btnHover{
  height: auto;
  font-size: 25px;
  position: absolute;
  left: 45%;
   border: 3px solid #6a4e65;
  border-radius: 5px;
 padding: 5px;
z-index: 20;

}

#btnHover:hover{
   background-color:#fff;
   color:white;
transition-duration: 0.5s;
}

header >div> h3{
  margin: 50px;
}


/********NAV******/

#panel{
  background-color: #fff;
    height: 500px;
    width: 100%;
    text-align: center;
    position: relative;
    bottom: 500px;

   opacity: 0;
    transition-duration: 0.5s;
}
#panel > ul {
    padding-top: 200px;
}

/********FOOTER******/

footer{
        width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 480px;
}

.footerLogo{
  
}